.navbar {
  flex: none;
  cursor: default;

  background-color: var(--bg-color-theme);;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.navbar__back-btn {
  width: 32px;
  height: 32px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.navbar__back-btn__icon {
  width: 24px;
  height: 24px;
}

.navbar__logo {
  width: 32px;
  height: 32px;
}

.navbar__label {
  margin: 0;
}